<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reach NC Voices by EducationNC</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300i,400,400i,700,900" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Pixeden Icon Font -->
    <link rel="stylesheet" href="css/Pe-icon-7-stroke.css">

    <!-- Font Awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">


    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <!-- Style -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/proto.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
  <script>

  </script>
</head>

<body>



<section class="header page" id="HOME">
<div class="section_overlay">
  <div class="container home-container">
      <div class="row">
          <div class="col-md-8 col-md-offset-2" style="top:-20px;">
              <div class="logo text-center">
                <div class="notice info"><p>This is a prototype of our future site. Let us know what you think!</p></div>

                  <img width="50%" height="100%" src="images/logo-white.png" />
                  <div class="content-box quote">
                    <h3>“...A principal at a <span class="highlight">small impoverished school</span> is managing more complex issues than a large school with a thriving PTA.”
                    <span class="attr">- A teacher in Lenoir</span></h3>

                  </div>

                  <div class="content-box quote">
                    <h3>“...A principal at a <span class="highlight">small impoverished school</span> is managing more complex issues than a large school with a thriving PTA.”
                    <span class="attr">- A teacher in Lenoir</span></h3>

                  </div>

                  <div class="content-box quote">
                    <h3>“...A principal at a <span class="highlight">small impoverished school</span> is managing more complex issues than a large school with a thriving PTA.”
                    <span class="attr">- A teacher in Lenoir</span></h3>

                  </div>

                  <div class="content-box quote">
                    <h3>“...A principal at a <span class="highlight">small impoverished school</span> is managing more complex issues than a large school with a thriving PTA.”
                    <span class="attr">- A teacher in Lenoir</span></h3>

                  </div>

              </div>
          </div>
      </div>

  </div>


    </section>

    <!-- END HEADER SECTION -->






    <section class="copyright">
        <h2></h2>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copy_right_text">
                    <!-- COPYRIGHT TEXT -->
                        <p>Contact lcarbonell@ednc.org with questions.</p>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- END FOOTER -->




    <script src="js/bootstrap.min.js"></script>




</body>
</html>
