<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reach NC Voices by EducationNC</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300i,400,400i,700,900" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Owl Carousel Assets -->
    <!-- <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet"> -->


    <!-- Pixeden Icon Font -->
    <link rel="stylesheet" href="css/Pe-icon-7-stroke.css">

    <!-- Font Awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/animation.css" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <!-- Style -->
    <link href="css/style.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  <link href="css/jquery.fullpage.min.css" rel="stylesheet">
      <script src="js/jquery.min.js"></script>
  <style>
  svg{
    height:100%;
    width:100vw;
  }

  #menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

h1{
  font-size: 46px;
text-align: center;
margin-bottom: 23px;
}
h3{
  text-align: center;
    width: 40em;
    font-size: 20px;
}

.col-text{
  font-size:18px;
  text-align:center;
}
.col-img{
  max-width:400px;
}
.img-wrapper{
  display:flex;
  flex-direction:column;

}
.img-wrapper img{


}
.flex-center{
  display:flex;
  justify-content: center;
}
h4{
  font-size:30px;
  text-align:center;
}

  </style>
</head>

<body>

      <ul id="menu">
      	<li data-menuanchor="Home"><a href="#Home">Home</a></li>
      	<li data-menuanchor="Join"><a href="#Join">Join the conversation</a></li>
      	<li data-menuanchor="What"><a href="#What">What we do</a></li>
        <li data-menuanchor="How"><a href="#How">How we do it</a></li>
        <li data-menuanchor="Contact"><a href="#Contact">Contact us</a></li>
      </ul>
  <div id="fullpage">



<div class="section">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 796 582.3">
    <defs>
      <style>
        .cls-1 {
          fill: #e58342;
        }

        .cls-2 {
          fill: #b25010;
        }

        .cls-3 {
          fill: #f9e0cf;
          stroke: #fdf3be;
          stroke-width: 3.09px;
        }

        .cls-3, .cls-4 {
          stroke-miterlimit: 10;
        }

        .cls-4 {
          fill: #fff;
          stroke: #b25010;
          stroke-width: 1.82px;
        }

        .cls-5 {
          fill: #ba5713;
        }

        .cls-6 {
          font-size: 27.22px;
          font-family: Lato-Italic, Lato;
          font-style: italic;
          letter-spacing: -0.09em;
        }

        .cls-6, .cls-8, .cls-9 {
          fill: #25366a;
        }

        .cls-7 {
          letter-spacing: 0em;
        }

        .cls-8, .cls-9 {
          font-size: 68px;
          font-family: Lato-Bold, Lato;
          font-weight: 700;
        }

        .cls-8 {
          letter-spacing: 0.01em;
        }

        .cls-9 {
          letter-spacing: -0.05em;
        }

        .cls-10 {
          letter-spacing: 0.01em;
        }
      </style>
    </defs>
    <title>landing-page</title>
    <g id="objects">
      <path class="cls-1" d="M540,109c-48.61,41.2-97.21-41.2-145.82,0V23.15c48.61-41.2,97.21,41.2,145.82,0Z"/>
      <rect class="cls-2" x="394.21" y="23.25" width="3.42" height="119.41"/>
      <rect class="cls-3" x="10.38" y="242.39" width="774.5" height="324.33"/>
      <polygon class="cls-3" points="166.5 270.31 395.93 139.37 628.75 270.31 166.5 270.31"/>
      <rect class="cls-2" x="177.8" y="278.78" width="439.65" height="265.78"/>
      <rect class="cls-1" x="148.63" y="273.08" width="497.99" height="40.8"/>
      <circle class="cls-4" cx="397.63" cy="208.23" r="43.97" transform="matrix(0.83, -0.55, 0.55, 0.83, -48.72, 255.6)"/>
      <g>
        <rect class="cls-2" x="404" y="205.02" width="3" height="34.85" transform="translate(866.29 182.54) rotate(146.3)"/>
        <rect class="cls-2" x="403.1" y="177.1" width="3" height="34.85" transform="translate(150.77 -175.76) rotate(29.89)"/>
      </g>
      <g>
        <rect class="cls-1" x="153.18" y="544.55" width="51.96" height="22.18"/>
        <polygon class="cls-1" points="199.4 552.46 159.86 552.46 163.25 312.38 196.01 312.38 199.4 552.46"/>
        <path class="cls-1" d="M198.55,310.09H159.77a11.23,11.23,0,1,0,9.6,17h19.58a11.21,11.21,0,1,0,9.6-17Z"/>
      </g>
      <g>
        <rect class="cls-1" x="590.02" y="544.55" width="51.96" height="22.18"/>
        <polygon class="cls-1" points="636.24 552.46 596.7 552.46 600.09 312.38 632.85 312.38 636.24 552.46"/>
        <path class="cls-1" d="M635.39,310.09H596.61a11.23,11.23,0,1,0,9.6,17h19.58a11.21,11.21,0,1,0,9.6-17Z"/>
      </g>
      <g>
        <rect class="cls-1" x="444.4" y="544.55" width="51.96" height="22.18"/>
        <polygon class="cls-1" points="490.63 552.46 451.09 552.46 454.48 312.38 487.24 312.38 490.63 552.46"/>
        <path class="cls-1" d="M489.78,310.09H451a11.23,11.23,0,1,0,9.6,17h19.58a11.21,11.21,0,1,0,9.6-17Z"/>
      </g>
      <g>
        <rect class="cls-1" x="298.79" y="544.55" width="51.96" height="22.18"/>
        <polygon class="cls-1" points="345.01 552.46 305.47 552.46 308.86 312.38 341.62 312.38 345.01 552.46"/>
        <path class="cls-1" d="M344.16,310.09H305.38a11.23,11.23,0,1,0,9.6,17h19.58a11.21,11.21,0,1,0,9.6-17Z"/>
      </g>
      <rect class="cls-5" x="37.56" y="332.55" width="20.09" height="185.04"/>
      <rect class="cls-5" x="76.54" y="332.55" width="20.09" height="185.04"/>
      <rect class="cls-5" x="115.52" y="332.55" width="20.09" height="185.04"/>
      <rect class="cls-5" x="657.84" y="332.55" width="20.09" height="185.04"/>
      <rect class="cls-5" x="696.82" y="332.55" width="20.09" height="185.04"/>
      <rect class="cls-5" x="735.79" y="332.55" width="20.09" height="185.04"/>
      <text class="cls-6" transform="translate(417.76 146.11)">Y<tspan class="cls-7" x="13.37" y="0">our 21st-century town hall.</tspan></text>
      <text class="cls-8" transform="translate(416.8 92.56)"><tspan xml:space="preserve">NC   </tspan></text>
      <text class="cls-8" transform="translate(193.21 90.73)"><tspan xml:space="preserve">Reach   </tspan></text>
      <text class="cls-9" transform="translate(545.25 93.73)">V<tspan class="cls-10" x="44.71" y="0">oices</tspan></text>
    </g>
  </svg>
</div>

<div class="section">

    <h1>Join the conversation</h1>

</div>

<div class="section">


    <!-- <h3><span style="font-weight:700;">Not quite.</span> While question sets are a prevalent tool in our toolkit, we do so much more than collect responses.</h3>
    <h3><span style="font-weight:700;">Not quite.</span> While question sets are a prevalent tool in our toolkit, we do so much more than collect responses.</h3>
    <h3><span style="font-weight:700;">Not quite.</span> While question sets are a prevalent tool in our toolkit, we do so much more than collect responses.</h3>
    <h3><span style="font-weight:700;">Not quite.</span> While question sets are a prevalent tool in our toolkit, we do so much more than collect responses.</h3>
    <h3><span style="font-weight:700;">Not quite.</span> While question sets are a prevalent tool in our toolkit, we do so much more than collect responses.</h3>
    <h3><span style="font-weight:700;">Not quite.</span> While question sets are a prevalent tool in our toolkit, we do so much more than collect responses.</h3>
    <h3><span style="font-weight:700;">Not quite.</span> While question sets are a prevalent tool in our toolkit, we do so much more than collect responses.</h3>
    <h3><span style="font-weight:700;">Not quite.</span> While question sets are a prevalent tool in our toolkit, we do so much more than collect responses.</h3>
    <h3><span style="font-weight:700;">Not quite.</span> While question sets are a prevalent tool in our toolkit, we do so much more than collect responses.</h3> -->



<div class="container-fluid" style="max-width:1500px;">
  <div class="row" style="margin-bottom: 60px;">
    <div class="col-lg-12">
      <h1>So...it's a survey tool?</h1>
    </div>
    <div class="col-lg-12 flex-center">
      <h3><span style="font-weight:700;">Not quite.</span> While question sets are a prevalent tool in our toolkit, we do so much more than collect responses.</h3>
    </div>
  </div>
    <div class="row" style="margin-top:1.2em;">
      <div class="col-lg-4">

        <div class="img-wrapper">
          <h4>Engage</h4>
          <p class="col-text">We engage with communities through events, whether we host them or attend them.</p>
          <img class="col-img" src="images/osborne_event.jpg" />
        </div>
      </div>
      <div class="col-lg-4">

        <div class="img-wrapper">
          <h4>Connect</h4>
          <p class="col-text">We use our journalism tools to connect with policymakers and help enact change.</p>
          <img class="col-img" src="images/roycooper.jpg" />
        </div>
      </div>
      <div class="col-lg-4">

        <div class="img-wrapper">
          <h4>Provide</h4>
          <p class="col-text">We offer our platform in various forms to connect community members.</p>
          <img class="col-img" src="images/lakewood.jpg" />
        </div>
      </div>
    </div>
  </div>

</div>

<div class="section">

    <h1>How it works</h1>

</div>

<div class="section">

    <h1>We want to hear from you</h1>

</div>
</div>




    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.fullPage.js"></script>
<script>
$(document).ready(function() {
  $('#fullpage').fullpage({
  				anchors: ['Home', 'Join', 'What', 'How', 'Contact'],
  				sectionsColor: ['#DAC500', '#1BBC9B', '#5681B54', '#7E8F7C', '#5681B54'],
  				menu: '#menu',
  				navigation: true,
  				navigationPosition: 'right',
  				navigationTooltips: ['Home', 'Join', 'What', 'How', 'Contact'],
  				responsiveWidth: 1100
  			});
      });
</script>



</body>
</html>
