<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reach NC Voices by EducationNC</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:200,300,300i,400,400i,700,900" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
      <link rel="stylesheet" type="text/css" href="css/slick.css"/>

    <!-- Owl Carousel Assets -->
    <!-- <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet"> -->


    <!-- Pixeden Icon Font -->
    <link rel="stylesheet" href="css/Pe-icon-7-stroke.css">



    <!-- Font Awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/animation.css" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <!-- Style -->
    <link href="css/style.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  <link href="css/jquery.fullpage.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <script src="js/jquery.min.js"></script>





  <style>
  svg{
    height:100%;
    width:100vw;
  }

  #menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

h1{
  font-size: 46px;
text-align: center;
margin-bottom: 23px;
}
h3{
  text-align: center;
    width: 40em;
    font-size: 20px;
    font-weight:300;
    line-height:28px;
}

.col-text{
  font-size:18px;
  text-align:center;
  font-weight:300;
}
.col-img{
  max-width:400px;
}
.img-wrapper{
  display:flex;
  flex-direction:column;

}
.img-wrapper img{


}
.flex-center{
  display:flex;
  justify-content: center;
}
h4{
  font-size:30px;
  text-align:center;

}
.img-crop{
  max-height:250px;
  overflow:hidden;
  display:flex;
  justify-content:center;
}
#poll-wrap{

}
.modal{
  overflow:visible;
}
#section0{
  background-size:cover;
  background-image:url('../images/inside_brew.png');
  padding:0 0 0 0;
}
h1{
  color: white;
  font-weight: 900;
  letter-spacing: 13px;
  text-transform: uppercase;
}
h3.subtitle{
  color: white;
width: 100%;
font-size: 31px;
font-style: italic;
font-weight: 200;
}
p.big-slide-body{
font-size: 36px;
line-height: 65px!important;
font-weight: 300;
}
p{
  font-size: 24px;
line-height: 35px;
font-size: 28px;
font-weight: 700;
text-align:center;
}
span.p-sub{
  /*display:block;
  font-weight:400;
  font-size: 20px;*/
  font-weight: 400;
    max-width: 400px;
    font-size: 19px;
    text-align: center;
    margin-top: 13px;
    display: inline-flex;
    justify-content: center;
}
h4.lil-question{
  font-style: italic;
line-height: 37px;
text-align: left;
font-size: 29px;
}
h4.lil-answer{
  line-height: 43px;
text-align: left;
}

.slick-slide{
  padding:30px;
}
img[src^="images/logos"] {
  max-width:100%;
}
.logo-row>.col-lg-2{
  display:flex;
  align-items: end;
}
.logo-row{
  margin-top:40px;
}
.slick-prev:before, .slick-next:before{
  font-size:50px;
}
.fa{
  font-size: 44px;
}
  </style>
</head>

<body>

      <ul id="menu">
      	<li data-menuanchor="Home"><a href="#Home">Home</a></li>
      	<li data-menuanchor="Join"><a href="#Join">Join the conversation</a></li>
      	<li data-menuanchor="What"><a href="#What">What we do</a></li>
        <li data-menuanchor="How"><a href="#How">How we do it</a></li>
        <li data-menuanchor="Contact"><a href="#Contact">Contact us</a></li>
      </ul>
  <div id="fullpage">


<div id="section0" class="section">
  <h1>Reach NC Voices</h1>
  <h3 class="subtitle">North Carolina's 21st Century Town Hall</h3>
</div>




<div class="section">


<div class="container-fluid" style="max-width:1200px;">
  <div class="row">
    <div class="col-lg-12">
      <h1>What is Reach NC Voices?</h1>
    </div>
    <div class="col-lg-12 flex-center">
      <p class="big-slide-body"><span style="font-weight:700;">Reach is a project of EducationNC that brings unheard voices back to public discourse.</span> EducationNC was founded on the concept that voices of North Carolinians in rural communities were lost in policy discussions — Reach NC Voices is our first initiative that addresses those conversations directly. We have already spent time informing citizens — now we want to use our technology to listen.</p>
    </div>
  </div>
    <!-- <div class="row" style="margin-top:1.2em;">
      <div class="col-lg-4">

        <div class="img-wrapper">
          <h4>Engage</h4>
          <p class="col-text">We engage with communities through events, whether we host them or attend them.</p>
          <div class="img-crop"><img class="col-img" src="images/osborne_event.jpg" /></div>
        </div>
      </div>
      <div class="col-lg-4">

        <div class="img-wrapper">
          <h4>Connect</h4>
          <p class="col-text">We use our journalism tools to connect with policymakers and help enact change.</p>
          <div class="img-crop"><img class="col-img" src="images/roycooper.jpg" /></div>
        </div>
      </div>
      <div class="col-lg-4">

        <div class="img-wrapper">
          <h4>Provide</h4>
          <p class="col-text">We offer our platform in various forms to connect community members.</p>
          <div class="img-crop"><img class="col-img" src="images/lakewood.jpg" /></div>
          <div id="this_modal" class="modal">
            <p>Thanks for clicking. That felt good.</p>
            <a href="#" rel="modal:close">Close</a>
          </div>

          <p><a href="#this_modal" rel="modal:open">Open Modal</a></p>

        </div>
      </div>
    </div> -->
  </div>

</div>

<div class="section" style="color:white!important;">
  <div class="container">
  <div class="row">
    <div class="col-lg-12 flex-center">
      <h1>Our Process:</h1>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-6">
        <div class="row"><div class="col-lg-12 flex-center"><i class="fa fa-question-circle" aria-hidden="true"></i></div></div>

        <p>It starts with a question. <span class="p-sub">Maybe it's about how much principals should be paid, or when the class day should start.</span></p>

      </div>
      <div class="col-lg-6">
        <div class="row"><div class="col-lg-12 flex-center"><i class="fa fa-comments-o" aria-hidden="true"></i></div></div>

        <p>We take that question to the community. <span class="p-sub">We meet you where you are — inbox, phone, or in your community — and invite you to share your stories.</p>
      </div>
  </div>
  <div class="row" style="margin-top:40px;">
  <div class="col-lg-6">
    <div class="row"><div class="col-lg-12 flex-center"><i class="fa fa-search" aria-hidden="true"></i>
    <i class="fa fa-bullhorn" aria-hidden="true"></i></div></div>
    <p>Analyze the responses and take action. <span class="p-sub">This might mean writing a story, sending a report to a policymaker, or fostering continued conversation.</span></p>



  </div>
    <div class="col-lg-6">
      <div class="row"><div class="col-lg-12 flex-center"><i class="fa fa-handshake-o" aria-hidden="true"></i></div></div>

      <p>Then — always — return to you. <span class="p-sub">Having a conversation with Reach means that we will always provide you with helpful information, whether that means showing you what we found, or connecting you with further resources.</span></p>
    </div>
  </div>

  <!-- <div class="row" style="margin-top:40px;">
    <div class="col-lg-12 flex-center">
      <p style="font-weight:100;text-align:left;">The details of this cycle are constantly changing. As Reach NC Voices evolves, we're listening not only to your experiences with education, but your experiences with us. Let us know how we can help you — it's what we're here for.</p>
    </div>
  </div> -->
  </div>

</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Here's what people are saying</h1>
      </div>
    </div>
    <div class="row responsive">
      <div>
        <h4 class="lil-question">What role do you think N.C. community colleges will play in 20 years?</h4>
        <h4 class="lil-answer">"I see a LOT of adults using community colleges to retool for second [and third] careers. The need for community colleges is growing..and we need...strong community colleges in our state in order to meet the varied educational needs of our population."</h4>
      </div>
      <div>
        <h4 class="lil-question">How do you use EVAAS?</h4>
        <h4 class="lil-answer">"I look at it after it comes out and then never look at it again until the next year's rating comes out. It isn't talked about during my PDP and no one has been able to give me a straight answer if anyone in our district is looking at it. Seems like another waste of money to me."</h4>
      </div>
      <div>
        <h4 class="lil-question">How do you use EVAAS?</h4>
        <h4 class="lil-answer">"I look at it after it comes out and then never look at it again until the next year's rating comes out. It isn't talked about during my PDP and no one has been able to give me a straight answer if anyone in our district is looking at it. Seems like another waste of money to me."</h4>
      </div>
      <div>
        <h4 class="lil-question">How do you use EVAAS?</h4>
        <h4 class="lil-answer">"I look at it after it comes out and then never look at it again until the next year's rating comes out. It isn't talked about during my PDP and no one has been able to give me a straight answer if anyone in our district is looking at it. Seems like another waste of money to me."</h4>
      </div>
      <div>
        <h4 class="lil-question">How do you use EVAAS?</h4>
        <h4 class="lil-answer">"I look at it after it comes out and then never look at it again until the next year's rating comes out. It isn't talked about during my PDP and no one has been able to give me a straight answer if anyone in our district is looking at it. Seems like another waste of money to me."</h4>
      </div>
    </div>
  </div>
</div>

<div class="section">

    <h1>Join the conversation</h1>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div id="reach-poll">
            <iframe id="embed67361" src="//app.cityzen.io/display/?projId=2079&embedId=67361" width="100%" height="425" frameborder="0" scrolling="yes"></iframe>
            <script>(function (c, i, t, y, z, e, n, x) { x = c.createElement(y), n = c.getElementsByTagName(y)[0]; x.async = 1; x.src = t; n.parentNode.insertBefore(x, n); i.czen = { pub: z, dom: e };})(document, window, 'https://publicinput.com/static/pub.js', 'script', 1114, 3);</script>
          </div>
        </div>
      </div>
    </div>

</div>

<div class="section">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <h1>Our Partners</h1>
    </div>

    </div>

    <div class="row flex-center logo-row">
      <div class="col-lg-2"><img src="images/logos/BCBS.png" alt="" width="150"></div>
      <div class="col-lg-2"><img src="images/logos/belk.png" alt="" width="150"></div>

      <div class="col-lg-2"><img src="images/logos/d-endow.png" alt="" width="150"></div>
      <div class="col-lg-2"><img src="images/logos/d-energy.png" alt="" width="150"></div>
      <div class="col-lg-2"><img src="images/logos/jwpope.png" alt="" width="150"></div>
      <div class="col-lg-2"><img src="images/logos/zsmith.png" alt="" width="150"></div>

    </div>

    <div class="row flex-center logo-row">

      <div class="col-lg-2"><img src="images/logos/mebane.png" alt="" width="150"></div>
      <div class="col-lg-2"><img src="images/logos/william-trust.png" alt="" width="150"></div>


      <!-- <div class="row"> -->
        <div class="col-lg-2"><img src="images/logos/park.png" alt="" width="150"></div>
        <div class="col-lg-2"><img src="images/logos/sas.png" alt="" width="150"></div>
        <div class="col-lg-2"><img src="images/logos/viacom.png" alt="" width="150"></div>


      </div>

      <div class="row flex-center logo-row">
        <div class="col-lg-2"><img src="images/logos/o2.png" alt="" width="100"></div>

        <div class="col-lg-2"><img src="images/logos/burr.png" alt="" width="100"></div>
        <div class="col-lg-2"><img src="images/logos/wells-fargo.png" alt="" width="100"></div>
      </div>
    </div>





</div>

</div>
</div> <!-- fullpage -->






</div>




    <script src="js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/jquery.fullPage.js"></script>
    <script type="text/javascript" src="js/slick.js"></script>

<script>
$(document).ready(function() {
  $('#fullpage').fullpage({
  				anchors: ['Home', 'Join', 'What', 'How', 'Contact', 'Partners'],
  				sectionsColor: ['#DAC500', '#1BBC9B', '#1d2a56', '#7E8F7C', '#1BBC9B', '#1C2957'],
  				menu: '#menu',
  				navigation: true,
  				navigationPosition: 'right',
  				navigationTooltips: ['Home', 'Join', 'What', 'How', 'Contact', 'Partners'],
  				responsiveWidth: 1100
  			});


        $('.responsive').slick({
          dots: true,
          infinite: false,
          speed: 300,
          slidesToShow: 1,
          slidesToScroll: 1,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
                infinite: true,
                dots: true
              }
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
          ]
        });

        $('#smooth-slide').slick({
          dots: true,
          infinite: false,
          speed: 300,
          slidesToShow: 2,
          slidesToScroll: 2,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
                infinite: true,
                dots: true
              }
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
          ]
        });




      });

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>




</body>
</html>
