<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reach NC Voices by EducationNC</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300i,400,400i,700,900" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Owl Carousel Assets -->
    <!-- <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet"> -->


    <!-- Pixeden Icon Font -->
    <link rel="stylesheet" href="css/Pe-icon-7-stroke.css">

    <!-- Font Awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <style>
    .arrow {
  text-align: center;
  margin: 8% 0;
  color:white;
}
.arrow a{
  text-decoration:none;
  color:white;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
    </style>



    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <!-- Style -->
    <link href="css/style.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
      <script src="js/jquery.min.js"></script>
  <script>

  </script>
</head>

<body>


    <section class="header page" id="HOME">
<div class="section_overlay">
            <div class="container home-container">
                <div class="row">
                    <div class="col-md-12" style="top:-20px;">
                        <div class="logo text-center">
                                <!-- LOGO -->
                            <img class="hide-mobile-inline" width="40%" height="100%" src="images/logo.png" alt="" >
                            <img class="show-mobile-inline" width="70%" height="100%" src="images/logo-white.png" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 col-sm-8">
                        <div class="home_text">
                            <!-- TITLE AND DESC -->

                            <div class="col-md-8 col-sm-12" style="padding-left:0;">
                              <h1>Our 21st Century Town Hall</h1>
                              <p>Reach connects people 🙋🏽 and policy 📄. It is a technology platform 📱, a strategy 📈, and a goal 🥅. We meet people where they are to better understand them 👩🏽‍🏫, their communities 🏘, their hopes 🙏🏽, and their dreams 💭. Text LOVENC to 63735 to get an example of one of our conversations.</p>
                              <a class="btn home-btn" href="https://www.ednc.org/2017/01/30/introducing-a-new-way-for-you-to-engage-reach-nc/" target="_blank" style="margin-bottom:20px;">Learn more</a>
                            </div>

                            <div class="download-btn">
                            <!-- BUTTON -->






                                <!-- <a class="btn home-btn hide-mobile-inline" href="ReachNCVoices.pdf" download>Download our report</a>
                                <a class="btn home-btn show-mobile-inline" href="ReachNCVoices.pdf" target="_blank">View our report</a> -->

                            </div>
                                <p class="tuor show-mobile-inline" id="join-convo">Join the conversation</p>
                        </div>
                    </div>
                </div>

                <div class="row hide-mobile-block">
                  <div class="col-lg-offset-5 col-md-3 col-sm-12">
                    <div class="arrow bounce">
<a class="fa fa-arrow-down fa-2x" href="#"></a>
</div>
                  </div>
                </div>

                    <div class="row show-mobile-block no-margs">
                        <div class="col-md-6 col-md-offset-3">

                            <form id="input-form" class="subscribe_form" method="POST" target="no-target">
                                <div class="form-group">
                                    <!-- <input type="email" autocapitalize="off" autocorrect="off" class="email form-control" id="inp-email" placeholder="Enter Email Address" value="" > -->

                                    <input id="input-email" placeholder="Enter Email Address" name="email" class="form-control email">
                                    <button id="submit-btn" type="submit" class="btn btn-default subs-btn" style="margin-top:20px;">SUBMIT</button>
                                  </form>
                                </div>

                                <iframe src="#" id="no-target" name="no-target" style="visibility:hidden" height="0" ></iframe>

                                <script>
                                    $('#input-form').one('submit',function(){
                                        var inputName = encodeURIComponent($('#input-email').val());
                                        var baseURL = 'https://docs.google.com/forms/d/e/1FAIpQLSf1Bmv4KFhPt2oWRuTFHY5UJR3D_ZHI2cB9RaZ-vTRc22pk-A/formResponse?entry.1502069114=';
                                        var submitRef = '&submit=Submit';
                                        var submitURL = (baseURL + inputName + submitRef);
                                        console.log(submitURL);
                                        $(this)[0].action=submitURL;
                                        $('#input-email').addClass('active').val('Thank You!');
                                    });
                                </script>

                            </div>


                        </div>

            </div>
          </div>
    </section>

    <!-- END HEADER SECTION -->



    <section class="subscribe hide-mobile-block">
        <div class="section_overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <!-- Start Subscribe Section Title -->
                        <div class="section_title">
                            <h2>JOIN THE CONVERSATION</h2>
                            <p>Sign up to join the Reach NC Voices community.</p>
                        </div>
                        <!-- End Subscribe Section Title -->
                    </div>
                </div>
            </div>
          </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">

                      


                        <form id="input-form" class="subscribe_form" method="POST" target="no-target">
                            <div class="form-group">
                                <!-- <input type="email" autocapitalize="off" autocorrect="off" class="email form-control" id="inp-email" placeholder="Enter Email Address" value="" > -->

                                <input id="input-email" placeholder="Enter Email Address" name="email" class="form-control email">
                                <button id="submit-btn" type="submit" class="btn btn-default subs-btn" style="margin-top:20px;">SUBMIT</button>
                              </form>
                            </div>

                            <iframe src="#" id="no-target" name="no-target" style="visibility:hidden" height="0" ></iframe>

                            <script>
                                $('#input-form').one('submit',function(){
                                    var inputName = encodeURIComponent($('#input-email').val());
                                    var baseURL = 'https://docs.google.com/forms/d/e/1FAIpQLSf1Bmv4KFhPt2oWRuTFHY5UJR3D_ZHI2cB9RaZ-vTRc22pk-A/formResponse?entry.1502069114=';
                                    var submitRef = '&submit=Submit';
                                    var submitURL = (baseURL + inputName + submitRef);
                                    console.log(submitURL);
                                    $(this)[0].action=submitURL;
                                    $('#input-email').addClass('active').val('Thank You!');
                                });
                            </script>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="copyright">
        <h2></h2>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copy_right_text">
                    <!-- COPYRIGHT TEXT -->
                        <p>Contact lcarbonell@ednc.org with questions.</p>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- END FOOTER -->




    <script src="js/bootstrap.min.js"></script>




</body>
</html>
