.vote-button{
    cursor: pointer;
    background: white!important;
    position: relative;
    border: 1px solid rgb(247, 248, 252)!important;
    margin: 0 1.2em 0 1.2em!important;
    margin-bottom: 0!important;
    color: black!important;
    border-bottom: none!important;
    width:inherit!important;
}
.vote-button-inner{
  padding:1em!important;
}
.vote-button:hover{
  background-color:#7d165e!important;
}
.vote-button-inner-radio{
  display:none!important;
}
.vote-button-inner:hover{
  color:white!important;
}

/* hide the header bar*/
.poll-content-div.new-header{
  display:none;
}
