@import url('https://fonts.googleapis.com/css?family=Lato:200,300i,400,400i,700,900');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', serif;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width:100%;
}
p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

#reach-banner{
  width:800px;
}

.join-body{
  font-size: 18pt;
  max-width: 800px;
  font-weight: 400;
  /* font-style: italic; */
  color: white;
}

.connect-body{
  color: white;
    font-size: 12pt;
    line-height: 17pt;
    font-weight: 300;
    text-align: left;
}

.connect-subhead{
  /*text-transform: uppercase;*/
    /*color: #25366A;*/
    color:white;
    font-weight: 700;
    font-size: 21pt;
}

.poll-content-div.new-header{
  display:none!important;
}

.show-mobile-inline{
  display:none;
}
.hide-mobile-inline{
  display:inline;
}
.show-mobile-block{
  display:none;
}
.hide-mobile-block{
  display:block;
}





/*bootstrap nav*/
.navbar {
  background-color: transparent;
  margin-top: 0;
  position: absolute;
  top: 0;
  z-index: 9;

}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-nav .nav-link {
  color: white;
  border-radius: .25rem;
  /*margin: 0 0.25em;*/
  margin:0;
  text-transform:uppercase;
  font-weight:700;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #5681B4;
  background:none;
  border:none;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar .navbar-toggle {
  border-color: #c0392b;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffbbbc;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffbbbc;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffbbbc;
  background-color: #c0392b;
}


/*** from index ***/

#menu li {
display:inline-block;
margin: 10px;
color: #000;
background:#fff;
background: rgba(255,255,255, 0.5);
-webkit-border-radius: 10px;
          border-radius: 10px;
}
#menu li.active{
background:#666;
background: rgba(0,0,0, 0.5);
color: #fff;
}
#menu li a{
text-decoration:none;
color: #000;
}
#menu li.active a:hover{
color: #000;
}
#menu li:hover{
background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
padding: 9px 18px;
display:block;
}
#menu li.active a{
color: #fff;
}
#menu{
position:fixed;
top:0;
left:0;
height: 40px;
z-index: 70;
width: 100%;
padding: 0;
margin:0;
}
#mobile-partner-list li{

  display:none;
}

h1{
font-size: 46px;
text-align: center;
margin-bottom: 23px;
line-height: 43pt;
}
h3{
text-align: center;
  width: 40em;
  font-size: 20px;
  font-weight:300;
  line-height:28px;
}

.col-text{
font-size:18px;
text-align:center;
font-weight:300;
}
.col-img{
max-width:400px;
}
.img-wrapper{
display:flex;
flex-direction:column;

}
.img-wrapper img{


}
.flex-center{
display:flex;
justify-content: center;
}
h4{
font-size:30px;
text-align:center;

}
.img-crop{
max-height:250px;
overflow:hidden;
display:flex;
justify-content:center;
}
#poll-wrap{

}
/*.modal{
overflow:visible;
}*/
#section0{
background-size:cover;
background-image:url('../images/inside_brew-min.png');
padding:0 0 0 0;
}
h1{
color: white;
font-weight: 900;
letter-spacing: 2px;
/*text-transform: uppercase;*/
}
h3.subtitle{
color: white;
width: 100%;
font-size: 31px;
font-style: italic;
font-weight: 200;
}
p.big-slide-body{
font-size: 36px;
line-height: 65px;
font-weight: 300;
}
p{
font-size: 24px;
line-height: 35px;
font-size: 28px;
font-weight: 700;
text-align:center;
}
span.p-sub{
/*display:block;
font-weight:400;
font-size: 20px;*/
font-weight: 400;
max-width: 400px;
font-size: 17px;
text-align: center;
margin-top: 11px;
display: inline-flex;
justify-content: center;
}
h4.lil-question{
font-style: italic;
line-height: 35px;
text-align: left;
font-size: 27px;
}
h4.lil-answer{
line-height: 43px;
text-align: left;
font-weight: 700;
}
p.lil-attribute{
text-align:left;
font-size: 19px;
font-weight: 400;
}

.slick-slide{
padding:30px;
}
img[src^="images/logos"] {
max-width:100%;
}
.logo-row>.col-lg-2{
display:flex;
align-items: end;
}
.logo-row{
margin-top:40px;
}
.slick-prev:before, .slick-next:before{
font-size:50px;
}
.fa{
font-size: 42px;
}
.quote-card{
background-color: #E1D0DA;
border-left: 1.5em solid purple;
}
.slick-prev {
  left: -78px;
}
#menu li{
margin:0!important;
border:none!important;
border-radius:0!important;
}
#powerby{
width: 90px;

}
#powerby-wrap{
background: none!important;
border: none!important;
float: right!important;
}

i.fa{
  font-size:35pt;
}
i.fa.fa-plus-square-o{
  font-size:20pt;
}
i.fa.fa-arrows-h{
  font-size:15pt;
}



.arrow {
text-align: center;
margin: 3% 0;
}
.arrow a{

color: white;
text-decoration: none;

}
.bounce {
-webkit-animation: bounce 2s 4;
animation: bounce 2s 4;
}
@-webkit-keyframes bounce {
0%,
20%,
50%,
80%,
100% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
40% {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}
60% {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}
}
@keyframes bounce {
0%,
20%,
50%,
80%,
100% {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
40% {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}
60% {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}
}

#logo-list{
  display:initial;
}

div#fp-nav {
  display: none;
}

button.navbar-toggler{
display:none;
}

ul.nav.navbar-nav{
  height: 70px;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.navbar-collapse.in{
  overflow-y:auto;
}


/*ribbon*/
.ribbon-box {
  width: 20px;
  height: 20px;
  position: relative;

}
.ribbon {
  position: absolute;
  right: -24px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}



/*** FACEBOOK BUTTON ***/
/*---------------------------
  Blue Button
---------------------------*/

a.fb-message-blue {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: #0084ff;
  border: 1px solid #0084ff;
  width: 127px;
  height: 35px;
  line-height: 35px;
  position: fixed;
  border-radius: 3px;
  outline: none;
  -webkit-transition: all ease .15s;
  -o-transition: all ease .15s;
  -moz-transition: all ease .15s;
  transition: all ease .15s;
}
a.fb-message-blue:hover {
  background-color: #2093ff;
  border: 1px solid #2093ff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
  /* transform: scale(1.15); */ /* uncomment to add zoom effect */
}
a.fb-message-blue:focus {
  background-color: #0084ff;
  border: 1px solid #0084ff;
  -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.3);
}

.fb-message-blue i {
  background-image: url('https://i.imgur.com/hjwozo7.png');
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: 7px 9px;
  top: -1px;
  height: 18px;
  width: 17px;
  padding: 10px 7px;
  float: left;
}
.nav-down, .nav-up {
    /*background: #f5b335;*/
    /*height: 40px;*/
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

.nav-up {
    top: -70px;

}


@media (max-width:830px){
  #reach-banner{
    width:100vw;
  }
}

@media (max-width: 768px) {
  .ribbon-box{
    display:none;
  }
  ul.nav.navbar-nav{
    height:auto;
    padding:20px!important;
  }
  button.navbar-toggler{
    color: white;
    display: inline-block;
    background: none;
    border: none;
    font-size: 22pt;
    text-align: left;
    width: 100vw;
    margin-left: 20px;
  }
  nav.navbar{
    margin:0;
    background: #25366A;
    /*height:calc(100vh - 230px);*/
  }
  ul.nav.navbar-nav{
    display:block;
  }

  .show-mobile-inline{
    display:inline;
    margin-top:30px;
  }
  .hide-mobile-inline, a.nav-link.hide-mobile-block{
    display:none;
  }

  .show-mobile-block, a.nav-link.show-mobile-block{
    display:block;
  }
  .hide-mobile-block{
    display:none;
  }
  #join-convo{
    margin-top:50px;
  }

  .menu-mini-flex{
    display:flex;
    flex-direction:row;

  }
  p.big-slide-body{
    font-size: 17pt;
    line-height: 41pt;
  }

  #mobile-partner-list{
    display:flex;
    flex-direction:column;
    justify-content: center;
  }
    #mobile-partner-list li{
    list-style-type: none;
    color:white;
    text-align: center;
    font-size:20pt;
    display:block;
    }


    #logo-list{
    display:none;
    }

    h4.lil-question {
        font-size: 15pt;
        line-height: 23pt;
    }
    h4.lil-answer {
    font-size: 12pt;
    line-height: 24pt;
    }
    p.lil-attribute{
      font-size: 12pt;
    line-height: 7pt;
    margin-left: 12pt;
    font-style: italic;
    }
}
